<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.spring.dao.HuojiangchengguoMapper">
    <resultMap id="BaseResultMap" type="com.spring.entity.Huojiangchengguo">
        <id column="id" property="id" jdbcType="INTEGER"/>
                            <result column="chengguomingcheng" property="chengguomingcheng" jdbcType="VARCHAR"/>
                                    <result column="huojiangjibie" property="huojiangjibie" jdbcType="VARCHAR"/>
                                    <result column="huojiangdengji" property="huojiangdengji" jdbcType="VARCHAR"/>
                                    <result column="huojiangchengyuan" property="huojiangchengyuan" jdbcType="VARCHAR"/>
                                    <result column="pizhundanwei" property="pizhundanwei" jdbcType="VARCHAR"/>
                                    <result column="tianjiaren" property="tianjiaren" jdbcType="VARCHAR"/>
                                    <result column="addtime" property="addtime" jdbcType="VARCHAR"/>
                                    <result column="issh" property="issh" jdbcType="VARCHAR"/>
                
    </resultMap>

    <sql id="table">
        huojiangchengguo    </sql>
    <sql id="Base_Column_List">
        id, chengguomingcheng, huojiangjibie, huojiangdengji, huojiangchengyuan, pizhundanwei, tianjiaren, addtime, issh    </sql>
    

    <select id="count" resultType="Integer" parameterType="com.spring.util.SelectExample">
        SELECT COUNT(*) FROM
        <include refid="table"/>
        <where>
            ${where}
        </where>
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT * FROM
        <include refid="table"/>
        <where>
            ${where}
        </where>
        <if test="order != null">
            order by ${order}
        </if>
    </select>


    <select id="selectPage" resultMap="BaseResultMap">
        SELECT * FROM
        <include refid="table"/>
        <where>
            ${where}
        </where>
        <if test="order != null">
            order by ${order}
        </if>
    </select>



    <select id="find" resultMap="BaseResultMap" parameterType="com.spring.entity.Huojiangchengguo">
        SELECT * FROM
        <include refid="table"/>
        where id = #{id}
    </select>

    <delete id="delete" parameterType="com.spring.entity.Huojiangchengguo">
        DELETE FROM
        <include refid="table"/>
        where id = #{id}
    </delete>

    <update id="update" parameterType="com.spring.entity.Huojiangchengguo">
        UPDATE
        <include refid="table"/>
        <set>
                        <if test="chengguomingcheng != null">
                chengguomingcheng = #{chengguomingcheng},
            </if>
                        <if test="huojiangjibie != null">
                huojiangjibie = #{huojiangjibie},
            </if>
                        <if test="huojiangdengji != null">
                huojiangdengji = #{huojiangdengji},
            </if>
                        <if test="huojiangchengyuan != null">
                huojiangchengyuan = #{huojiangchengyuan},
            </if>
                        <if test="pizhundanwei != null">
                pizhundanwei = #{pizhundanwei},
            </if>
                        <if test="tianjiaren != null">
                tianjiaren = #{tianjiaren},
            </if>
                        <if test="addtime != null">
                addtime = #{addtime},
            </if>
                        <if test="issh != null">
                issh = #{issh},
            </if>
                    </set>
        where id = #{id}
    </update>
        <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.spring.entity.Huojiangchengguo">
        INSERT INTO
        <include refid="table"/>
        ( chengguomingcheng , huojiangjibie , huojiangdengji , huojiangchengyuan , pizhundanwei , tianjiaren , addtime , issh ) values( #{chengguomingcheng} , #{huojiangjibie} , #{huojiangdengji} , #{huojiangchengyuan} , #{pizhundanwei} , #{tianjiaren} , #{addtime} , #{issh} )
    </insert>

</mapper>
