<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.spring.dao.KeyankaoheMapper">
    <resultMap id="BaseResultMap" type="com.spring.entity.Keyankaohe">
        <id column="id" property="id" jdbcType="INTEGER"/>
                            <result column="xiangmuid" property="xiangmuid" jdbcType="INTEGER"/>
                                    <result column="xiangmubianhao" property="xiangmubianhao" jdbcType="VARCHAR"/>
                                    <result column="xiangmumingcheng" property="xiangmumingcheng" jdbcType="VARCHAR"/>
                                    <result column="qiriqi" property="qiriqi" jdbcType="VARCHAR"/>
                                    <result column="zhiriqi" property="zhiriqi" jdbcType="VARCHAR"/>
                                    <result column="chengguoxingshi" property="chengguoxingshi" jdbcType="VARCHAR"/>
                                    <result column="kaifarenyuan" property="kaifarenyuan" jdbcType="VARCHAR"/>
                                    <result column="kaifarenyuanxingming" property="kaifarenyuanxingming" jdbcType="VARCHAR"/>
                                    <result column="kaohejieguo" property="kaohejieguo" jdbcType="VARCHAR"/>
                                    <result column="huodejiangli" property="huodejiangli" jdbcType="VARCHAR"/>
                                    <result column="huodejifen" property="huodejifen" jdbcType="INTEGER"/>
                                    <result column="kaoheren" property="kaoheren" jdbcType="VARCHAR"/>
                                
    </resultMap>

    <sql id="table">
        keyankaohe    </sql>
    <sql id="Base_Column_List">
        id, xiangmuid, xiangmubianhao, xiangmumingcheng, qiriqi, zhiriqi, chengguoxingshi, kaifarenyuan, kaifarenyuanxingming, kaohejieguo, huodejiangli, huodejifen, kaoheren    </sql>
    

    <select id="count" resultType="Integer" parameterType="com.spring.util.SelectExample">
        SELECT COUNT(*) FROM
        <include refid="table"/>
        <where>
            ${where}
        </where>
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT * FROM
        <include refid="table"/>
        <where>
            ${where}
        </where>
        <if test="order != null">
            order by ${order}
        </if>
    </select>


    <select id="selectPage" resultMap="BaseResultMap">
        SELECT * FROM
        <include refid="table"/>
        <where>
            ${where}
        </where>
        <if test="order != null">
            order by ${order}
        </if>
    </select>



    <select id="find" resultMap="BaseResultMap" parameterType="com.spring.entity.Keyankaohe">
        SELECT * FROM
        <include refid="table"/>
        where id = #{id}
    </select>

    <delete id="delete" parameterType="com.spring.entity.Keyankaohe">
        DELETE FROM
        <include refid="table"/>
        where id = #{id}
    </delete>

    <update id="update" parameterType="com.spring.entity.Keyankaohe">
        UPDATE
        <include refid="table"/>
        <set>
                        <if test="xiangmuid != null">
                xiangmuid = #{xiangmuid},
            </if>
                        <if test="xiangmubianhao != null">
                xiangmubianhao = #{xiangmubianhao},
            </if>
                        <if test="xiangmumingcheng != null">
                xiangmumingcheng = #{xiangmumingcheng},
            </if>
                        <if test="qiriqi != null">
                qiriqi = #{qiriqi},
            </if>
                        <if test="zhiriqi != null">
                zhiriqi = #{zhiriqi},
            </if>
                        <if test="chengguoxingshi != null">
                chengguoxingshi = #{chengguoxingshi},
            </if>
                        <if test="kaifarenyuan != null">
                kaifarenyuan = #{kaifarenyuan},
            </if>
                        <if test="kaifarenyuanxingming != null">
                kaifarenyuanxingming = #{kaifarenyuanxingming},
            </if>
                        <if test="kaohejieguo != null">
                kaohejieguo = #{kaohejieguo},
            </if>
                        <if test="huodejiangli != null">
                huodejiangli = #{huodejiangli},
            </if>
                        <if test="huodejifen != null">
                huodejifen = #{huodejifen},
            </if>
                        <if test="kaoheren != null">
                kaoheren = #{kaoheren},
            </if>
                    </set>
        where id = #{id}
    </update>
        <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.spring.entity.Keyankaohe">
        INSERT INTO
        <include refid="table"/>
        ( xiangmuid , xiangmubianhao , xiangmumingcheng , qiriqi , zhiriqi , chengguoxingshi , kaifarenyuan , kaifarenyuanxingming , kaohejieguo , huodejiangli , huodejifen , kaoheren ) values( #{xiangmuid} , #{xiangmubianhao} , #{xiangmumingcheng} , #{qiriqi} , #{zhiriqi} , #{chengguoxingshi} , #{kaifarenyuan} , #{kaifarenyuanxingming} , #{kaohejieguo} , #{huodejiangli} , #{huodejifen} , #{kaoheren} )
    </insert>

</mapper>
